# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

.vscode
CMakeCache.txt
CMakeFiles/*
cmake_install.cmake
Makefile
build/*

# Executables
*.exe
*.out
*.app
GLEngine
/GLEngine.dir/Debug
/.vs
/x64/Debug/ZERO_CHECK
/ZERO_CHECK.vcxproj.filters
/ZERO_CHECK.vcxproj
/GLEngine.vcxproj.user
/GLEngine.vcxproj.filters
/GLEngine.vcxproj
/GLEngine.sln
/ALL_BUILD.vcxproj.user
/ALL_BUILD.vcxproj.filters
/ALL_BUILD.vcxproj
/Debug/GLEngine.pdb
